body {
    font-family: 'Montserrat', sans-serif;
}

:root {
    --navbar-width: 12rem;
    --navbar-color: #000000;

    --section-color: #06032250;

    --footer-height: 90px;
    --footer-color: #282828;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.wrapper {
    font-family: sans-serif;
    height: 100vh;
    background: #222;
    color: white;
}

main {
    height: calc(100% - var(--footer-height));
    display: flex;
}

main > nav {
    background: var(--navbar-color);
    height: 100%;
    width: var(--navbar-width);
}

main > section {
    height: 100%;
    width: calc(100% - var(--navbar-width));
    background: var(--section-color);
}

footer {
    height: var(--footer-height);
    background: var(--footer-color);
}