/********** p **********/
.p-grey { color: grey; }

.p-white { color: white; }

.p-grey { color: grey; }

.p-s-grey { 
    font-size: smaller;
    color: grey;
}

.p-l-white {
    color: white;
    font-size: large;
}

a {
    text-decoration: none;
    color: grey;
}

/********** overflow **********/
.nome-playlist {
    max-height: 12em;
    overflow-y: auto;
}

/********** hover **********/
.p-m-grey:hover {
    color: white;
    scale: 1.1;
    transition: 0.5s;
}

a:hover {
    color: white;
}

.option:hover { 
    color: white;
    scale: 1.1;
    transition: 0.5s;
    padding-left: 5px;
    border-left: 2px solid #1db954;
    
}

.option2:hover { 
    color: white;
    scale: 1.1;
    transition: 0.5s;
}

/********** NAVBAR **********/
.logo {
    width: 8em;
}

.top {
    overflow: hidden;
}

.logo-small {
    width: 3em;
    display: none;
}

/********** FOOTER **********/
.sinister-footer {
    width: 3.5rem;
}