/********** p **********/
.p-grey { color: grey; }

.p-white { color: white; }

.p-white-bold { 
    color: white; 
    font-size: 15px;
    font-weight: 700;
}

.p-grey { color: grey; }

.p-s-grey { 
    font-size: smaller;
    color: grey;
}

.p-xs-grey { 
    font-size: x-small;
    color: grey;
}

.p-l-white {
    color: white;
    font-size: large;
}

.p-big-white { 
    color: white;
    font-size: 1.8em;
    font-weight: 600; 
}

a {
    text-decoration: none;
    color: grey;
}

/********** overflow **********/
.nome-playlist {
    max-height: 12em;
    overflow-y: auto;
}

.content {
    overflow-y: auto;
}

/********** hover **********/


.install:hover {
    color: white;
}

.option:hover { 
    color: white;
    scale: 1.1;
    transition: 0.1s;
    padding-left: 8px;
}

.option2:hover { 
    color: white;
    transition: 0.1s;
}

.option3:hover { 
    color: white;
    border-bottom: 1px solid white;
    transition: 0.1s;
}

.title:hover {
    color: white;
    border-bottom: 2px solid #1DB954;
    padding-bottom: 5px;
    transition: 0.2s;
}

.icon:hover {
    transition: 0.1s;
    scale: 1.2;
}


.btn:hover {
    border: 1px solid white;
    color: white;
    scale: 1.1;
    transition: 0.3s;
}

/********** NAVBAR **********/
.logo {
    width: 8em;
}

.top {
    overflow: hidden;
}

.logo-small {
    width: 3em;
    display: none;
}

/********** CONTENT **********/
/* main */


.upgrade {
    height: 6em;
    width: calc(100% - 12rem);
    background-color: hsla(225, 31%, 5%, 0.7);
}

/* titles */
li {
    list-style: none;
}

.btn {
    padding: 10px 30px;
    border-radius: 25px;
    border: 1px solid grey;
    background-color: #090b11a1;
}


/* recently played */
.cover-d {
    display: flex;
}

.cover {
    padding-left: 8px;
    margin-bottom: 1em;
    width: calc(100% / 6);
}

.img-cover {
    width: 100%;
    display: block;
}

.play {
    background-color: hsla(0, 0%, 0%, 0.6);
    width: 100%;
    height: 100%;
    top: 0;
    opacity: 0;
}

.cover:hover  .play {
    opacity: 1;
    transition: 0.2s;
}



/* artist */
.img-cover-radius {
    width: 100%;
    border-radius: 50%;
}

/********** FOOTER **********/
.sinister-footer {
    width: 3rem;
}

.center {
    width: 30%;
}

.big-music {
    background-color: #5a5a5a;
    width: 100%;
    height: 3px;
    border-radius: 25px;
}

.small-music {
    background-color: #c1c1c1;
    width: 28%;
    height: 3px;
    border-radius: 25px;
}

#volume {
    height: 3px;
    -webkit-appearance: none;
    appearance: none;
    background: grey;
}

.larghezza {
    width: 100%;
}

#slider {
    width: 100%;
    height: 3px;
    -webkit-appearance: none;
    appearance: none;
    background: grey;
}



/********** RESPONSIVE **********/
@media screen and (max-width: 992px) {
	.wrapper {
        width: 100%;
	}

    .cover-d {
        display: flex;
        flex-wrap: wrap;
        justify-content:baseline
    }
    
    .cover {
        width: calc(100% / 4);
    }
   
}

/* CONTAINER, DA TABLET */
@media screen and (max-width: 768px) {
    .cover-d {
        display: flex;
        flex-wrap: wrap;
        justify-content:baseline
    }
    
    .cover {
        width: calc(100% / 2);
    }

}

/* CONTAINER, DA SMARTPHONE */
@media screen and (max-width: 576px) {
	.logo {
        display: none;
    }

    .logo-small {
        display: block;
        width: 1.8em;
    }
   
    .goodbye {
        display: none;
    }

    :root {
        --navbar-width: 4rem;
        --navbar-color: #000000;
    
        --section-color: #06032250;
    
        --footer-height: 90px;
        --footer-color: #282828;
    }
    
    
    main > nav {
        background: var(--navbar-color);
        height: 100%;
        width: var(--navbar-width);
    }

    .upgrade {
        height: 6em;
        width: calc(100% - 4rem);
        background-color: hsla(225, 31%, 5%, 0.7);
    }
    
}




